<!DOCTYPE html>
<html>
<head>
    <title>CTF</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/themes/core/static/img/favicon.ico?d=6d166681" type="image/x-icon">
    <link rel="stylesheet" href="/themes/core/static/css/fonts.min.css?d=6d166681">
    <link rel="stylesheet" href="/themes/core/static/css/main.min.css?d=6d166681">
    <link rel="stylesheet" href="/themes/core/static/css/core.min.css?d=6d166681">




    <script type="text/javascript">
        var init = {
            'urlRoot': "",
            'csrfNonce': "25bbe3383970caafe1d4796e1c13d21101ef11e9479b4b9da2932c9257f708e3",
            'userMode': "teams",
            'userId': 1,
            'userName': "Admin",
            'userEmail': "kota.sivanarayana6475@gmail.com",
            'teamId': null,
            'teamName': null,
            'start': 1669266000,
            'end': 1670821200,
            'theme_settings': null
        }
    </script>

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container">
        <a href="/" class="navbar-brand">

            CTF

        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#base-navbars"
                aria-controls="base-navbars" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="base-navbars">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/workshops">Workshops</a>
                </li>



                <li class="nav-item">
                    <a class="nav-link" href="/users">Users</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/teams">Teams</a>
                </li>




                <li class="nav-item">
                    <a class="nav-link" href="/scoreboard">Scoreboard</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="/challenges">Challenges</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/challenges">Workshops</a>
                </li> -->
            </ul>

            <hr class="d-sm-flex d-md-flex d-lg-none">

            <ul class="navbar-nav ml-md-auto d-block d-sm-flex d-md-flex">
                <li class="nav-item">
                    <a class="nav-link" href="/admin">
                                <span class="d-block" data-toggle="tooltip" data-placement="bottom" title="Admin Panel">
                                    <i class="fas fa-wrench d-none d-md-block d-lg-none"></i>
                                </span>
                        <span class="d-sm-block d-md-none d-lg-block">
                                    <i class="fas fa-wrench pr-1"></i>Admin Panel
                                </span>
                    </a>
                </li>




                <li class="nav-item">
                    <a class="nav-link" href="/notifications">
                            <span class="d-block" data-toggle="tooltip" data-placement="bottom" title="Notifications">
                                <i class="fas fa-bell d-none d-md-block d-lg-none"></i>
                            </span>
                        <span class="d-sm-block d-md-none d-lg-block">
                                <i class="fas fa-bell pr-1"></i>
                                <span class="badge badge-pill badge-danger badge-notification"></span>
                                Notifications
                            </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/team">
                            <span class="d-block" data-toggle="tooltip" data-placement="bottom" title="Team">
                                <i class="fas fa-users d-none d-md-block d-lg-none"></i>
                            </span>
                        <span class="d-sm-block d-md-none d-lg-block">
                                <i class="fas fa-users pr-1"></i>Team
                            </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/user">
                            <span class="d-block" data-toggle="tooltip" data-placement="bottom" title="Profile">
                                <i class="fas fa-user-circle d-none d-md-block d-lg-none"></i>
                            </span>
                        <span class="d-sm-block d-md-none d-lg-block">
                                <i class="fas fa-user-circle pr-1"></i>Profile
                            </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/settings">
                            <span class="d-block" data-toggle="tooltip" data-placement="bottom" title="Settings">
                                <i class="fas fa-cogs d-none d-md-block d-lg-none"></i>
                            </span>
                        <span class="d-sm-block d-md-none d-lg-block">
                                <i class="fas fa-cogs pr-1"></i>Settings
                            </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">
                            <span class="d-block" data-toggle="tooltip" data-placement="bottom" title="Logout">
                                <i class="fas fa-sign-out-alt d-none d-md-block d-lg-none"></i>
                            </span>
                        <span class="d-sm-block d-md-none d-lg-block">
                                <i class="fas fa-sign-out-alt pr-1"></i><span class="d-lg-none">Logout</span>
                            </span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<main role="main">

    <div class="container">
        <!DOCTYPE html>
        <html>
        <head>
            <title>CTF</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="shortcut icon" href="/themes/core/static/img/favicon.ico?d=f17b7088" type="image/x-icon">
            <link rel="stylesheet" href="/themes/core/static/css/fonts.min.css?d=f17b7088">
            <link rel="stylesheet" href="/themes/core/static/css/main.min.css?d=f17b7088">
            <link rel="stylesheet" href="/themes/core/static/css/core.min.css?d=f17b7088">




            <script type="text/javascript">
                var init = {
                    'urlRoot': "",
                    'csrfNonce': "83c1b0d1eb015643492475cf071dc473baf195c3d279e2ecfc369f0ba9c2fac5",
                    'userMode': "teams",
                    'userId': 1,
                    'userName': "Admin",
                    'userEmail': "kota.sivanarayana6475@gmail.com",
                    'teamId': null,
                    'teamName': null,
                    'start': 1669266000,
                    'end': 1670821200,
                    'theme_settings': null
                }
            </script>

        </head>
        <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <div class="container">
                <a href="/" class="navbar-brand">

                    CS CTFd

                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#base-navbars"
                        aria-controls="base-navbars" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="base-navbars">
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item">
                            <a class="nav-link" href="/workshops">Workshops</a>
                        </li>



                        <li class="nav-item">
                            <a class="nav-link" href="/users">Users</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/teams">Teams</a>
                        </li>




                        <li class="nav-item">
                            <a class="nav-link" href="/scoreboard">Scoreboard</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="/challenges">Challenges</a>
                        </li>
                    </ul>

                    <hr class="d-sm-flex d-md-flex d-lg-none">

                    <ul class="navbar-nav ml-md-auto d-block d-sm-flex d-md-flex">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">
                                <span class="d-block" data-toggle="tooltip" data-placement="bottom" title="Admin Panel">
                                    <i class="fas fa-wrench d-none d-md-block d-lg-none"></i>
                                </span>
                                <span class="d-sm-block d-md-none d-lg-block">
                                    <i class="fas fa-wrench pr-1"></i>Admin Panel
                                </span>
                            </a>
                        </li>




                        <li class="nav-item">
                            <a class="nav-link" href="/notifications">
                            <span class="d-block" data-toggle="tooltip" data-placement="bottom" title="Notifications">
                                <i class="fas fa-bell d-none d-md-block d-lg-none"></i>
                            </span>
                                <span class="d-sm-block d-md-none d-lg-block">
                                <i class="fas fa-bell pr-1"></i>
                                <span class="badge badge-pill badge-danger badge-notification"></span>
                                Notifications
                            </span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/team">
                            <span class="d-block" data-toggle="tooltip" data-placement="bottom" title="Team">
                                <i class="fas fa-users d-none d-md-block d-lg-none"></i>
                            </span>
                                <span class="d-sm-block d-md-none d-lg-block">
                                <i class="fas fa-users pr-1"></i>Team
                            </span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/user">
                            <span class="d-block" data-toggle="tooltip" data-placement="bottom" title="Profile">
                                <i class="fas fa-user-circle d-none d-md-block d-lg-none"></i>
                            </span>
                                <span class="d-sm-block d-md-none d-lg-block">
                                <i class="fas fa-user-circle pr-1"></i>Profile
                            </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/settings">
                            <span class="d-block" data-toggle="tooltip" data-placement="bottom" title="Settings">
                                <i class="fas fa-cogs d-none d-md-block d-lg-none"></i>
                            </span>
                                <span class="d-sm-block d-md-none d-lg-block">
                                <i class="fas fa-cogs pr-1"></i>Settings
                            </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">
                            <span class="d-block" data-toggle="tooltip" data-placement="bottom" title="Logout">
                                <i class="fas fa-sign-out-alt d-none d-md-block d-lg-none"></i>
                            </span>
                                <span class="d-sm-block d-md-none d-lg-block">
                                <i class="fas fa-sign-out-alt pr-1"></i><span class="d-lg-none">Logout</span>
                            </span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

        <main role="main">

            <div class="jumbotron">
                <div class="container">
                    <h1>workshop</h1>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3 text-center">
                        <p>Welcome to UGA CTF Workshop!</p>
                        <p>
                            In order to participate in the workshop you must either join or create a team.
                        </p>
                    </div>
                </div>

                <div class="row">
                    {% for workshop in workshops %}
                        <div class="col-md-3 d-inline-block">
                            <a href="{{ url_for('workshops.public',workshop_id=workshop.id) }}">
                                <button class="btn btn-dark challenge-button w-100 text-truncate pt-3 pb-3 mb-2">
                                    <p>{{ workshop.name}}</p>
                                </button>
                            </a>
                        </div>
                    {% endfor %}
                </div>

            </div>

        </main>






        </body>
        </html>

